/* CSS Document */
div.menu{
	display:block;
	text-align:center;
	height:59px;
	border-radius:5px 5px 0px 0px;
	background: no-repeat scroll center bottom rgba(7, 8, 10, 0.4);
	margin:-20px -10px 20px -10px;
	box-shadow:0px 2px 3px -3px #07080a;
}

div.menu ul{
}

div.menu ul li{
	float:left;
}

div.menu ul li a{
	display:block;
	float:left;
	padding:20px;
	color:#FFF;
	font-variant:small-caps;
	border-right:1px solid #000;
}

div.menu ul li a:hover,
div.menu ul li a.active{
	background: no-repeat scroll center bottom rgba(7, 8, 10, 0.5);
	color:#FFF;
}

div.menu ul li a.active{
	font-weight:bold;
	background: no-repeat scroll center bottom rgba(7, 8, 10, 0.6);
}

div.menu ul li:first-child a{
	border-radius:5px 0px 0px 0px;
}

div.menu ul li:last-child a{
	border:none;
	border-radius:0px 5px 0px 0px;
}

div.menu ul li:last-child {
	float:right;
}

div.menu span{
	position:absolute;
	background-image:url(/images/logo.png);
	background-size:contain;
	float:right;
	display:block;
	width:350px;
	height:180px;
	margin-right:10px;
	margin-top:-15px;
	margin-left:680px;
	background-repeat:no-repeat;
}

div.content ul.menu{
	margin:-10px -10px 0px -10px;
	height:30px;
	display:block;
	background: no-repeat scroll center bottom rgba(7, 8, 10, 0.4);
	border-radius:5px 5px 0px 0px;
}
div.content ul.menu li{
	padding:0px;
	margin:0px;
	float:left;
	box-shadow:none;
	min-height:inherit;
}
div.content ul.menu li a{
	display:block;
	padding:5px 10px;
	color:#FFF;
	height:20px;
}
div.content ul.menu li a.active,
div.content ul.menu li a:hover{
	background: no-repeat scroll center bottom rgba(7, 8, 10, 0.4);
}
div.content ul.menu li:first-child a{
	border-radius:5px 0px 0px 0px;
}

div.menu ul.right li:first-child a{
	border-radius:0px;
}