body{
  padding:30px;
  color: white;
  font-size: 13px;
  font-family: Verdana, Arial;
  background: url(../skin/int/px.png);
  position: relative;
}
h1{
	color: white;
	margin-bottom: 15px;
}

.cerrar{
	position: absolute;
	right: 15px;
	top: 15px;
}

ul{
	margin-bottom: 20px
}
ul li{
	padding: 0 0 0 10px;
}
li::before{
	content: "* ";
	color: #f28e23;
	padding-top: 2px
}
.tabla{ border:1px solid white; }
.tabla th{ text-align: left; background:#f28e23;  }
.tabla td, .tabla th{ padding: 10px; border-bottom: 1px solid #ccc; }