@charset "UTF-8";

/* CSS Document */


/*
	----------------------------
	HTML SELECTORS
	____________________________
*/


body { background: #333; font:14px/21px ProximaRegular, Arial, sans-serif; color: #333; margin: 0; padding: 0; width:100%; height:auto; }
a { color: #ccc; text-decoration: underline; }
a:hover { color: #fb2b2b; }
h1, h2 { font-size: 26px; line-height: 28px; font-weight: normal; letter-spacing: -1px; color: #fff; }
h3 { font-size: 18px; font-weight: normal; margin: 8px 0; }
h4 { font-size: 14px; font-weight: normal; margin: 0; }
h5 { font-size: 12px; font-weight: normal; margin: 0; }
ul { margin-left: 20px; }
ol { margin-left: 36px; }
img { border: 0; }

/*
	----------------------------
	LAYOUT
	____________________________
*/


#wrapper { width: 100%; margin:0; padding: 0; height: 100%; opacity: 0; }
#main { width: 100%; height: 100%; float: left; }
#main > p, #main > div { margin:0; }
#sidebar { width: 280px; float: right; }
#sidebar ol { margin: 12px 0 12px 22px; }
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


#video-controls { width: 333px; }
#video-controls a { color: #ddd; text-decoration: underline; }


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/


#main .warpbox{
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    height: 100%;
}
.box { 
	position: absolute;
	background: url(int/fullbox/patter_box.png); 
	color: #fff; 
	padding: 4px 12px; 
	margin: 0;
	bottom:0px; 
}


.pattern{
	position: fixed;
	background-image: url('int/pattern.png');
	background-repeat: repeat;
	top: 0px;
	width:500px;
	height: 200px;
	z-index: -10;
}


.btn-close{
	float: right;
	margin: 5px 5px 0 0;
}

.control{
	position: relative;
	
}

.control .tubular-play{
	position:absolute;
	display: none;
	 
}

.control .tubular-pause{
	position:absolute;
	 
}

.sound {
	position: absolute;
	right: 20px;
	bottom: 5px;
	font-weight: bold;
}

.sound .btn-snd-off {
	display: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


 
#tubular-container{
	opacity: 0;
	
}
#tubular-shield{
	opacity: 0;
}
